@model string
@{
    ViewData["Title"] = "Page Not Found";
}
<h1 class="text-danger">@ViewData["Title"]</h1>
<p>The page you are trying to access was not found!</p>
<a asp-action="Index" class="btn btn-secondary my-2">Back</a>